{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <!-- Added Mobile Number input -->
    <label for="mobile">Mobile Number</label>
    <input type="tel" name="mobile" id="mobile" required>
    <!-- End of Mobile Number input -->
    <input type="submit" value="Register">
  </form>
{% endblock %}
