<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock %} - GenAI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body {
            background-image: url("{{ url_for('static', filename='background.jpg') }}");
            background-size: cover;
            background-repeat: no-repeat;
            /* Add other background properties if needed */
        }
    </style>
</head>
<body>
    <nav>
        <h1>GenAI</h1>
        <ul>
            {% if g.user %}
                <li><span>{{ g.user['username'] }}</span></li>
                <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
            {% else %}
                <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
            {% endif %}
        </ul>
    </nav>
    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
        <header>
            {% block cart_header %}{% endblock %}
        </header>
        {% block cart_details %}{% endblock %}
    </section>
</body>
</html>
